body{
    font-family: $font;
}

a{
    text-decoration: none;
}


 
.container{ 
    max-width:260px;
    margin: 0 auto;

    @media #{$tablet} {
        max-width: 668px;
    }

    @media #{$desktop} {
        max-width: 1050px;
    }
}

