//main font

$font: 'Open Sans', san-serif;
$footer_logo: 'Spicy Rice', cursive;

//colors

$icon:#ececec;
$icon_hover:#63d1bb;
$icon_active:#d0f1ea;

$text:#000;
$light_text:#444;

$link_hover:#555;
$link_active:#b2b2b2;

$bg_color:#f1f1f1;

//for media

$mobile:(min-width:320px);
$tablet:(min-width:768px);
$desktop:(min-width:1150px);