body {
  font-family: "Open Sans", san-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 260px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 668px;
  }
}

@media (min-width: 1150px) {
  .container {
    max-width: 1050px;
  }
}

header {
  width: 320px;
  margin: 0 auto;
}

header .container {
  max-width: 320px;
  position: relative;
}

.burger_btn {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 25px;
  right: 30px;
  cursor: pointer;
  transition: linear .3s;
  -webkit-transition: linear .3s;
  -moz-transition: linear .3s;
  -ms-transition: linear .3s;
  -o-transition: linear .3s;
}

.burger_btn .btn_line-1,
.burger_btn .btn_line-2,
.burger_btn .btn_line-3,
.burger_btn .btn_line-4 {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.burger_btn .btn_line-2,
.burger_btn .btn_line-3 {
  top: 8px;
}

.burger_btn .btn_line-4 {
  top: 16px;
}

.burger_btn:hover, .burger_btn:active {
  opacity: .5;
}

.burger_btn-active .btn_line-1,
.burger_btn-active .btn_line-4 {
  display: none;
}

.burger_btn-active .btn_line-2 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.burger_btn-active .btn_line-3 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.navbar {
  height: 100%;
}

.navbar .list_item {
  height: 0;
  font-size: 0;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  transition: linear .3s;
  -webkit-transition: linear .3s;
  -moz-transition: linear .3s;
  -ms-transition: linear .3s;
  -o-transition: linear .3s;
}

.navbar .list_item a {
  color: #000;
}

.navbar .list_item i {
  margin: 0 20px 0 -40px;
  color: #ececec;
}

.navbar .list_item:hover a {
  color: #555;
}

.navbar .list_item:hover i {
  color: #63d1bb;
}

.navbar .list_item:active a {
  color: #b2b2b2;
}

.navbar .list_item:active i {
  color: #d0f1ea;
}

.navbar .list_item:first-child {
  text-align: center;
  padding: 15px 0;
  border-bottom: solid 2px #ececec;
  height: auto;
}

.navbar .list_item:first-child:hover {
  filter: opacity(0.5);
  -webkit-filter: opacity(0.5);
}

.navbar .list_item:first-child:active {
  filter: opacity(0.3);
  -webkit-filter: opacity(0.3);
}

.navbar .list_item-active {
  height: auto;
  font-size: 16px;
  border-bottom: solid #ececec 2px;
  padding: 15px 0 15px 75px;
}

@media (min-width: 768px) {
  header {
    width: 768px;
    margin: 0 auto;
    border-bottom: solid 2px #ececec;
  }
  header .container {
    max-width: 668px;
  }
  .burger_btn {
    display: none;
  }
  .navbar_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar_list .list_item {
    height: auto;
    font-size: 15px;
    padding: 35px 0;
    border: none;
  }
  .navbar_list .list_item .search_mobile {
    display: none;
  }
  .navbar_list .list_item:first-child {
    border: none;
    padding: 20px 0;
    text-align: left;
  }
  .navbar_list .list_item i {
    margin: 0 35px;
    font-size: 20px;
  }
  .navbar_list .search {
    border-left: solid 2px #ececec;
    border-right: solid 2px #ececec;
  }
  .navbar_list .form_link,
  .navbar_list .catalog_link {
    -webkit-transform: translateY(85%);
    transform: translateY(85%);
    margin: 0 16px;
  }
  .navbar_list .catalog_link {
    margin-left: -113px;
  }
}

@media (min-width: 1150px) {
  header {
    width: 1150px;
    margin: 0 auto;
    height: 90px;
  }
  header .container {
    max-width: 1050px;
    height: inherit;
  }
  .navbar_list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 90px;
    height: inherit;
  }
  .navbar_list .catalog_link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navbar_list .form_link {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .navbar_list .search {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .navbar_list .cart {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .navbar_list .list_item {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 16px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .navbar_list .list_item:first-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 10px 60px 0 40px;
  }
  .navbar_list .search {
    margin-right: -50px;
  }
}

footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

footer .footer_logo {
  display: none;
}

footer .copyright {
  text-align: center;
  padding: 20px 0;
  color: #000;
  font-size: 18px;
}

footer .social_links {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  border-bottom: solid 2px #b2b2b2;
}

footer .social_links a {
  font-size: 25px;
  margin: 0 15px;
  color: #444;
}

footer .social_links a:hover {
  color: #63d1bb;
}

footer .social_links a:active {
  color: #d0f1ea;
}

@media (min-width: 768px) {
  footer {
    width: 768px;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  footer .footer_logo {
    display: block;
    font-size: 28px;
    font-family: "Spicy Rice", cursive;
  }
  footer .footer_logo a {
    color: #000;
  }
  footer .footer_logo a:hover {
    color: #63d1bb;
  }
  footer .footer_logo a:active {
    color: #d0f1ea;
  }
  footer .social_links {
    border: none;
    padding: 0;
  }
  footer .copyright {
    padding: 0;
  }
}

@media (min-width: 1150px) {
  footer {
    width: 1150px;
    margin: 0 auto;
  }
}

.contacts {
  width: 320px;
  margin: 0 auto;
}

.contacts .contact_flag {
  display: none;
}

.contacts .contact_map {
  width: 320px;
  height: 450px;
  margin-left: -30px;
}

.contacts .contacts_title {
  font-weight: 800;
  font-size: 24px;
  margin: 30px 0;
}

@media (min-width: 768px) {
  .contacts .contacts_title {
    font-size: 40px;
  }
}

@media (min-width: 1150px) {
  .contacts .contacts_title {
    font-size: 50px;
  }
}

.contacts .email,
.contacts .adress {
  font-size: 14px;
  width: 100%;
  margin: 20px 0;
}

.contacts .email .adress-title,
.contacts .email .email_title,
.contacts .adress .adress-title,
.contacts .adress .email_title {
  width: 60px;
  float: left;
}

.contacts .email .adress-text,
.contacts .email .email_text,
.contacts .adress .adress-text,
.contacts .adress .email_text {
  padding-left: 70px;
}

.contacts .contact_btn {
  width: 260px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  border: solid 2px #000;
  padding: 17px 0;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  margin: 40px 0;
}

.contacts .contact_btn:hover {
  color: #fff;
  background-color: #444444;
  border-color: #444444;
}

.contacts .contact_btn:active {
  color: #7c7c7c;
}

@media (min-width: 768px) {
  .contacts {
    width: 768px;
    margin: 0 auto;
    position: relative;
  }
  .contacts .contact_adress {
    height: 120px;
  }
  .contacts .contact_adress .email,
  .contacts .contact_adress .adress {
    width: 50%;
    font-size: 16px;
  }
  .contacts .contact_adress .email {
    float: left;
  }
  .contacts .contact_adress .adress {
    float: right;
  }
  .contacts .contact_map {
    width: 768px;
    margin: 20px 0 0 -50px;
  }
  .contacts .contact_us {
    text-align: center;
  }
  .contacts .contact_flag {
    position: absolute;
    display: block;
    top: 0;
    right: 50px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    width: 1150px;
    margin: 0 auto;
  }
  .contacts .contact_map {
    width: 525px;
    margin: 0;
  }
  .contacts .contact_adress .email,
  .contacts .contact_adress .adress {
    float: none;
    width: 100%;
  }
  .contacts .contact_us {
    text-align: left;
    margin: 40px 0;
  }
  .contacts .contact_us,
  .contacts .contacts_title,
  .contacts .contact_adress {
    width: 350px;
    margin-left: 175px;
  }
  .contacts .contacts_title {
    margin-top: 140px;
  }
  .contacts .contact_map {
    position: absolute;
    top: -83px;
    right: 50px;
  }
  .contacts .contact_flag {
    left: 115px;
  }
}
/*# sourceMappingURL=style.css.map */