.contacts{
    @include d_width(320px);

    .contact_flag{
        display: none;
    }

    .contact_map{
        width: 320px;
        height: 450px;
        margin-left: -30px;
    }

    .contacts_title{
        @include title;
    }

    .email,
    .adress{
        font-size: 14px;
        width: 100%;
        margin: 20px 0;

        .adress-title,
        .email_title{
            width: 60px;
            float: left;
        }

        .adress-text,
        .email_text{
            padding-left: 70px;
        }

    }

    .contact_btn{
        @include button(260px, $text);
        margin: 40px 0;
    }
}

@media #{$tablet}{
    .contacts{
        @include d_width(768px);
        position: relative;

        .contact_adress{
            height: 120px;

            .email,
            .adress{
                width: 50%;
                font-size: 16px;
            }

            .email{
                float: left;
                }

            .adress{
                float: right;
            }
        }

        .contact_map{
            width: 768px;
            margin: 20px 0 0 -50px ;
        }

        .contact_us{
            text-align: center;
        }

        .contact_flag{
            position: absolute;
            display: block;
            top: 0;
            right: 50px;
        }
    }
}

@media #{$desktop}{
    .contacts{
        @include d_width(1150px);

        .contact_map{
            width: 525px;
            margin: 0;
        }
        .contact_adress{

            .email,
            .adress{
            float: none;
            width: 100%;
            }
        }

        .contact_us{
            text-align: left;
            margin: 40px 0;
        }

        .contact_us,
        .contacts_title,
        .contact_adress{
            width: 350px;
            margin-left: 175px;
        }

        .contacts_title{
            margin-top: 140px;
        } 
        
        .contact_map{
            position: absolute;
            top: -45px;
            right: 50px;
        }

        .contact_flag{
            left: 115px;
        }
    }
}
