.rewievs{
    @include d_width(320px);

    .rewievs_title{
        @include title;
    }

    .user_rewievs{
        position: relative;
        color:$text;
        height: 270px;
        font-size: 14px;
        margin: 10px 0;

        .user_1,
        .user_2,
        .user_3{
            position: absolute;
            opacity: 0;
            transition: opacity ease .3s;
            -webkit-transition: opacity ease .3s;
            -moz-transition: opacity ease .3s;
            -ms-transition: opacity ease .3s;
            -o-transition: opacity ease .3s;
        }

        .user_active{
            opacity: 1;
        }

        .rewiev_text{
            height: 200px;
        }
        

        .user_name{
            font-weight: 700;
            margin: 10px 0;
        }
    }

    .rewievs_arrows{
        width: 100%;
        border:solid 2px $icon;

        .arrow_next,
        .arrow_prev{
            font-size: 40px;
            padding: 0 40px;
            cursor: pointer;
            @include links($text, $link_hover, $link_active);
        }

        .arrow_next{
            float: right;
        }
    }

    .rewiev_btn{
        @include button(260px, $text);
        margin: 30px 0;
    }
}

@media #{$tablet}{
    .rewievs{
        @include d_width(768px);
        position: relative;
        background-image: url("../images/main_page/review.png");
        background-repeat: no-repeat;

        .container{
            margin-bottom: 140px;
        }

        .rewievs_title{
            padding:70px 0;
        }

        .user_rewievs{
            height: 170px;
            font-size: 16px;

            .rewiev_text{
                height: 100px;
                width: 668px;
            }

            .user_name,
            .user_email{
                width: 300px;
            }
        }

        .rewievs_arrows{
            width: 168px;
            position: absolute;
            border:none;
            top:300px;
            right: 30px;

            .arrow_prev,
            .arrow_next{
                padding: 0 20px;
            }
        }

        .rewiev_btn{
            @include button(168px, $text);
            position: absolute;
            top: 45px;
            right: 30px;
        }

        .zigzag_line{
            margin: 40px 0;
        }
    }
}

@media #{$desktop} {
    .rewievs {
        @include d_width(1150px);

        .rewievs_title{
            margin-left: 130px;
        }

        .user_rewievs{
            margin-left: 130px;
        }
        
        .rewievs_arrows{
            top: 310px;
            right: 50px;
        }

        .rewiev_btn{
            top: 55px;
            right: 50px;
        }
    }
}